* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-soft-blue: hsl(215, 23%, 45%);
  --primary-cyan: hsl(178, 100%, 50%);
  --primary-blue-link: hsl(228, 45%, 44%);

  --neutral-very-dark-blue: hsl(217, 54%, 11%);
  --neutral-very-dark-blue-2: hsl(216, 50%, 16%);
  --neutral-very-dark-blue-3: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-family-default: "Outfit", sans-serif;
}

body {
  background-color: var(--neutral-very-dark-blue);
  display: grid;
  font-family: var(--font-family-default);
  font-size: 1.125rem;
  justify-content: center;
  min-height: 100vh;
  place-content: center;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*Container*/
.container {
  background-color: var(--neutral-very-dark-blue-2);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  max-width: 344px;
  padding: 20px;
  position: relative;
}

/*Nft-image*/
.nft-image img {
  border-radius: 10px;
  transition: 0.1s all;
}

.nft-image {
  background-color: var(--primary-cyan);
  background-image: url("./images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.nft-image img:hover {
  cursor: pointer;
  opacity: 0.6;
}

/*Nft-preview*/
.nft-preview h1 {
  color: var(--neutral-white);
  font-size: 1.375rem;
  transition: 0.1s;
}

.nft-preview h1:hover {
  color: var(--primary-cyan);
  cursor: pointer;
}

.nft-preview h1 {
  margin: 20px 0;
}

.nft-preview p {
  color: var(--primary-soft-blue);
}

/*Nft-preview-price*/
.nft-preview-price {
  border-bottom: 1px solid var(--neutral-very-dark-blue-3);
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}

.nft-preview-price p:first-child {
  color: var(--primary-cyan);
  margin-left: 20px;
}

.nft-preview-price p:first-child::before {
  content: url("./images/icon-ethereum.svg");
  position: absolute;
  left: 0px;
  bottom: 18px;
}

.nft-preview-price p::before {
  content: url("./images/icon-clock.svg");
  position: absolute;
  right: 85px;
  bottom: 18px;
}

/*Nft-creator*/
.nft-creator {
  align-items: center;
  font-size: 1rem;
  gap: 15px;
  display: flex;
  margin: 20px 0 0 10px;
}

.nft-creator img {
  max-width: 30px;
  border: 1px solid var(--neutral-white);
  border-radius: 50%;
}

.nft-creator a {
  color: var(--neutral-white);
  transition: 0.1s;
}

.nft-creator a:hover {
  color: var(--primary-cyan);
}

/*Footer*/
.attribution {
  color: var(--primary-soft-blue);
  font-size: 0.6875rem;
  margin-top: 40px;
  text-align: center;
}

.attribution a {
  color: var(--primary-blue-link);
}
